package com.registry.verg.{{service_name_lower}}.repository;

import com.registry.verg.{{service_name_lower}}.entity.{{service_name_pascal}}Entity;
import org.springframework.data.jpa.repository.JpaRepository;

public interface {{service_name_pascal}}Repository extends JpaRepository<{{service_name_pascal}}Entity, String> {

}